<div id="perfilContainer" style="display: none;">
    <table id="perfilTable" class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Edad</th>
                <th>Documento</th>
                <th>Nombre Profesión</th>
                <th>Imagen ID</th>
                <th>Herramienta</th>
                <th>Descripción</th>
                <th>Título</th>
                <th>Institución</th>
                <th>Email</th>
                
            </tr>
        </thead>
        <tbody id="perfilTableBody">
            <!-- Aquí se insertarán las filas -->
        </tbody>
    </table>
</div>

<button id="verMasBtn" data-id="1292">Ver Más</button>

@section Scripts {
    <script src="~/js/VistaServicio.js"></script>
}